@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

:root {
  --color-white: #fff;
  --color-raven: #040301;
  --color-dark-gray: #222222;
  --color-dark-gray-90: #222222db;
  --color-dark-gray-0: #22222200;
  --color-semi-dark-gray: #3e3e3e;
  --color-medium-gray: #999;
  --color-light-gray: #c7c7c7;
  --color-light-gray-20: #c7c7c733;
  --color-goldenrod: #daa520;
  --color-dark-gold: #b59410;
  --color-amber: #ffbf00;
  --color-primary: #45ba9a;
  --color-secondary-light-green: #9cdac9;
  --color-secondary-dark-green: #49a68c;
  --color-secondary-light-gray: #ebebeb;
}

/* 初始化及基本樣式設定 */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding: 6rem;
}

body {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;

  font-family: "Roboto", "Noto Sans TC", sans-serif;
}

ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: var(--color-dark-gray);
}

button {
  cursor: pointer;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1 {
  font-weight: 300;
}

h2 {
  font-weight: 200;
}

h3 {
  font-weight: 200;
}

/* ========= 滾動進度條 樣式設定 ========= */

.scroll-progressbar {
  position: fixed;
  z-index: 999;
  top: 6rem;

  height: 0.25rem;
  width: 100%;

  scale: 0 1;
  transform-origin: left;

  /* background-color: var(--color-semi-dark-gray); */
  background-color: var(--color-primary);

  animation: scroll-progress linear;
  animation-timeline: scroll();
}

@keyframes scroll-progress {
  to {
    scale: 1 1;
  }
}

/* ========= 回到頂端按鈕 樣式設定 ========= */
.go-top {
  position: fixed;
  z-index: 2000;
  left: auto;
  top: auto;
  right: clamp(2rem, 4vw, 8rem);
  bottom: clamp(2rem, 4vw, 8rem);

  width: 4rem;
  height: 4rem;
  padding: 1rem;
  border-radius: 50%;

  opacity: 0.6;
  border: 1px solid var(--color-semi-dark-gray);
  background-color: var(--color-white);
}

/* ========= 標題浮出動畫 樣式設定 ========= */

.fade-in {
  opacity: 0;
  transform: translateY(5rem);
  transition: transform 1s ease-in-out 0s, opacity 1s ease-in-out 0s;
}

.fade-in.is-revealed {
  opacity: 1;
  transform: translateY(0);
}

/* ========= nav 樣式設定 ========= */
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;

  position: sticky;
  z-index: 999;
  top: 0;
  left: 0;

  width: 100%;
  height: 6rem;
  padding-inline: clamp(2rem, 4vw, 8rem);
  border-bottom: 1px solid var(--color-light-gray);

  font-size: 1.6rem;

  background-color: var(--color-white);
}

a.logo-link {
  font-family: "Cookie";
  font-size: 2.8rem;
}

.navbar__list {
  display: flex;

  width: 100%;
  height: 100%;

  font-weight: 400;
}

@media screen and (min-width: 75em) {
  .navbar__list {
    column-gap: 3rem;
  }
}

.outer-list-wrapper {
  justify-content: space-between;
}

@media screen and (min-width: 75em) {
  .outer-list-wrapper {
    justify-content: center;
  }
}

.inner-list-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;
  height: unset;
  padding-block: 1.5rem;
  border-bottom: 1px solid var(--color-light-gray);

  transform: translateY(0);
  background-color: var(--color-white);

  transition: opacity 0.3s ease-in-out 0s, visibility 0.3s ease-in-out 0s,
    transform 0.8s ease-in-out 0s;
}

.inner-list-wrapper.folded {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-2rem);
  pointer-events: none;
}

@media screen and (min-width: 75em) {
  .inner-list-wrapper {
    flex-direction: row;
    row-gap: 0;

    position: static;

    width: auto;
    height: 100%;
    padding-block: 0;

    border-bottom: none;
  }

  .inner-list-wrapper.folded {
    opacity: 1;
    visibility: visible;
    transform: none;
    pointer-events: auto;
  }
}

.navbar__list-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__list-link {
  display: flex;
  align-items: center;
  justify-content: center;

  transition: color 0.3s ease-in-out 0s;
}

.navbar__list-link:hover {
  /* color: var(--color-medium-gray); */
  color: var(--color-secondary-dark-green);
}

@media screen and (min-width: 75em) {
  .menu-list-item {
    display: none;
  }
}

.menu-link > img {
  height: 1.6rem;
  aspect-ratio: 1;
}

.navbar__menu-icon.hidden,
.navbar__close-icon.hidden {
  display: none;
}

/* ========= header 樣式設定 ========= */
.header {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: calc(100vh - 6rem);
  padding-inline: clamp(2rem, 4vw, 8rem);
  padding-block: 3rem;
  /*
  color: var(--color-white);
   background-color: var(--color-dark-gray); */
  color: var(--color-dark-gray);
  background-color: var(--color-white);
}

@media screen and (min-width: 75em) {
  .header {
    flex-direction: row;

    padding-block: 0;
  }
}

.header__left-column {
  flex-basis: 100%;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  position: relative;
  z-index: 2;
}

@media screen and (min-width: 75em) {
  .header__left-column {
    flex-basis: 70%;
    flex-shrink: 0;
    flex-grow: 0;
  }
}

.hero__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1.5rem;

  /* text-shadow: 1px 1px 3px var(--color-raven); */
}

@media screen and (min-width: 75em) {
  .hero__text-wrapper {
    margin-top: clamp(10rem, 25vh, 25rem);

    /* text-shadow: 1px 1px 5px var(--color-raven); */
  }
}

.hero__intro-text {
  font-size: 2.1rem;
  font-weight: 200;
}

.hero__title {
  font-size: 6rem;

  color: var(--color-secondary-dark-green);
}

.hero__link-wrapper {
  align-self: center;

  display: flex;
  column-gap: 3rem;

  margin-top: auto;

  transition-delay: 0.5s;
}

@media screen and (min-width: 75em) {
  .hero__link-wrapper {
    align-self: flex-start;

    margin-bottom: clamp(3rem, 10vh, 10vh);
  }
}

.hero__link {
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  /* border: 2px solid var(--color-light-gray); */
  border: 2px solid var(--color-semi-dark-gray);

  font-size: 1.6rem;

  /* color: var(--color-white);
  background-color: var(--color-light-gray-20); */
  color: var(--color-semi-dark-gray);
  background-color: var(--color-white);
  transition: background-color 0.3s ease-in-out 0s, color 0.3s ease-in-out 0s,
    border 0.3s ease-in-out 0s;
}

.hero__link:hover {
  /* color: var(--color-dark-gray);
  background-color: var(--color-light-gray); */

  border: 2px solid var(--color-primary);
  color: var(--color-white);
  background-color: var(--color-primary);
}

.header__right-column {
  display: none;
  position: absolute;
  z-index: 1;
  inset: 0;
}

@media screen and (min-width: 75em) {
  .header__right-column {
    position: relative;

    flex-grow: 1;

    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.header__right-column > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left top;

  border-radius: 2rem;

  filter: brightness(0.5);
}

@media screen and (min-width: 75em) {
  .header__right-column > img {
    width: auto;
    height: auto;

    filter: none;
  }
}

/* ========= main 樣式設定 ========= */

/* ========= web-works 樣式設定 ========= */
.web-works {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: calc(100vh - 6rem);
  padding-inline: clamp(2rem, 4vw, 8rem);
  padding-block: clamp(2rem, 6vh, 8rem);

  /* background-color: var(--color-dark-gray); */
  background-color: var(--color-secondary-light-gray);
}

.web-works__title {
  font-size: 5rem;
  text-align: center;

  margin-bottom: clamp(2rem, 4vh, 5rem);

  /* color: var(--color-light-gray);
  text-shadow: 1px 1px 5px var(--color-raven); */
  color: var(--color-dark-gray);
}

.web-works__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;

  margin: auto;
}

@media screen and (min-width: 75em) {
  .web-works__wrapper {
    flex-direction: row;
    row-gap: 0;
    column-gap: 3rem;

    height: 60vh;
  }
}

@media screen and (min-width: 75em) {
  .web-works__link {
    position: relative;

    flex-basis: 40%;
    flex-grow: 1;

    transition: flex-grow 0.2s ease-in-out 0s;
  }

  .web-works__link:hover {
    flex-grow: 2;
  }
}

.web-works__card {
  position: relative;

  width: 100%;
  height: 100%;
  border-radius: 2rem;

  overflow: hidden;
}

.web-works__thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;

  opacity: 1;

  transition: opacity 0.5s ease-in-out 0s;
}

.web-works__thumbnail.hidden {
  opacity: 0;
}

.web-works__teaser {
  position: absolute;
  inset: 0;
  z-index: -1;
  pointer-events: none;

  width: 100%;
  height: 100%;
  object-fit: cover;

  opacity: 0;

  transition: opacity 0.5s ease-in-out 0s;
}

.web-works__teaser.active {
  z-index: 10;
  opacity: 1;
}

.web-works__info {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  position: absolute;
  z-index: 10;
  bottom: 0;

  width: 100%;
  padding: 2rem;

  color: var(--color-white);
  background-image: linear-gradient(
    0deg,
    var(--color-dark-gray),
    var(--color-dark-gray-0)
  );
}

.web-works__tag-list {
  display: flex;
  column-gap: 1.5rem;

  font-size: 1.2rem;
}

.web-works__tag {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;

  background-color: var(--color-medium-gray);
}

.web-works__project-name {
  font-size: 1.8rem;
  font-weight: 500;
}

/* ========= graphic-works 節氣 樣式設定 ========= */

.graphic-works {
  width: 100%;
  min-height: calc(100vh - 6rem);
  padding-block: clamp(2rem, 6vh, 8rem);

  overflow-x: hidden;
}

.graphic-works__title {
  font-size: 5rem;
  text-align: center;

  color: var(--color-dark-gray);
}

.graphic-works__arrows-wrapper {
  display: flex;
  justify-content: center;
  column-gap: 3rem;

  width: 80%;
  margin: 1.5rem auto;
}

@media screen and (min-width: 75em) {
  .graphic-works__arrows-wrapper {
    justify-content: flex-end;
  }
}

.graphic-works__button {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
}

.graphic-works__wrapper {
  display: flex;
  column-gap: 5rem;

  transition: transform 0.3s ease-in-out 0s;
}

.graphic-works__card-wrapper {
  flex-basis: 70vw;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  min-height: 60vh;
}

@media screen and (min-width: 75em) {
  .graphic-works__card-wrapper {
    flex-basis: 50vw;

    flex-direction: row;
    row-gap: 0;
    column-gap: 1rem;

    height: 60vh;
  }
}

.graphic-works__work {
  display: flex;

  border-radius: 2rem;

  overflow: hidden;
}

.graphic-works__work-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.graphic-works__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 1rem;

  padding: 1.5rem;
  border-radius: 2rem;
}

@media screen and (min-width: 75em) {
  .graphic-works__info {
    padding: 3rem 2rem;
  }
}

@media screen and (min-width: 75em) {
  .graphic-works__work,
  .graphic-works__info {
    flex-basis: 50%;
  }
}

.graphic-works__project-name {
  font-size: 1.8rem;
  font-weight: 400;
}

.graphic-works__description {
  font-size: 1.4rem;

  color: var(--color-semi-dark-gray);
}

.graphic-works__indicators-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.75rem;

  width: max-content;
  margin-inline: auto;
  margin-top: 2rem;
}

.graphic-works__indicator {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;

  /* background-color: var(--color-medium-gray); */
  background-color: var(--color-secondary-light-green);
  transition: width 0.3s ease-in-out 0s, border-radius 0.3s ease-in-out 0s;
}

.graphic-works__indicator.active {
  width: 2.5rem;
  border-radius: 1rem;

  /* background-color: var(--color-dark-gray); */
  background-color: var(--color-primary);
}

/* ========= graphic-works 電商廣告 樣式設定 ========= */

.ecommerce-works {
  position: relative;

  width: 100%;
  max-height: calc(100vh - 6rem);
  padding-inline: clamp(2rem, 4vw, 8rem);
  padding-top: clamp(2rem, 6vh, 8rem);

  overflow: hidden;

  /* background-color: var(--color-light-gray); */
  background-color: var(--color-secondary-light-gray);
}

@media screen and (min-width: 75em) {
  .ecommerce-works {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    row-gap: 0;

    padding-top: 0;
  }
}

.ecommerce-works__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2.5rem;
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 75em) {
  .ecommerce-works__text-wrapper {
    flex-basis: 35%;
    margin-bottom: 0;
  }
}

.ecommerce-works__title {
  font-size: 4.2rem;
}

.ecommerce-works__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.ecommerce-works__list-item {
  border-left: 0.3rem solid var(--color-dark-gray);
  padding-left: 1.5rem;

  opacity: 0.5;
  transition: opacity 0.3s ease-in-out 0s, border-left 0.3s ease-in-out 0s;
}

.ecommerce-works__list-item:hover {
  /* border-left: 0.3rem solid var(--color-goldenrod); */
  border-left: 0.3rem solid var(--color-primary);
}

.ecommerce-works__list-item.active {
  /* border-left: 0.3rem solid var(--color-goldenrod); */
  border-left: 0.3rem solid var(--color-primary);
  opacity: 1;
}

.ecommerce-works__project-link {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.ecommerce-works__project-type {
  font-size: 1.8rem;
  font-weight: 400;
}

.ecommerce-works__project-info {
  font-size: 1.4rem;

  color: var(--color-semi-dark-gray);
}

.ecommerce-works__mobile-wrapper {
  position: relative;

  width: 100%;
  aspect-ratio: 0.7;

  transform: translateY(100%);
  overflow: hidden;

  transition: transform 1.3s ease-in-out 0s;
}

@media screen and (min-width: 75em) {
  .ecommerce-works__mobile-wrapper {
    width: 55%;
    max-width: 80rem;
  }
}

.ecommerce-works__mobile-wrapper.slide-in {
  transform: translateY(0%);
  transition-delay: 0.3s;
}

@media screen and (min-width: 75em) {
  .ecommerce-works__mobile-wrapper.slide-in {
    transform: translateY(20%);
  }
}

.ecommerce-works__mobile-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 10;

  background-image: url(../images/ipad.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none; /* 確保可以點擊到下方的按鈕 */
}

.ecommerce-works__mobile-screen {
  width: 90%;
  height: 90%;
  border-radius: 4%;

  position: absolute;
  top: 3%;
  left: 8%;
  z-index: 1;

  overflow-y: scroll;
  scrollbar-width: none;
}

.ecommerce-works__mobile-screen::-webkit-scrollbar {
  display: none;
}

.ecommerce-works__ad-content {
  position: relative;
}

.ecommerce-works__ad-img {
  display: none;

  width: 100%;

  object-fit: cover;
}

.ecommerce-works__ad-img.active {
  display: block;
}

/* ========= graphic-works 商業廣告 樣式設定 ========= */

.graphic-works-flyer {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: calc(100vh - 6rem);
  padding-inline: clamp(2rem, 4vw, 8rem);
  padding-top: clamp(2rem, 6vh, 8rem);

  overflow: hidden;
}

@media screen and (min-width: 75em) {
  .graphic-works-flyer {
    flex-direction: row;

    height: calc(100vh - 6rem);
    padding-top: 0;
  }
}

.flyer__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2.5rem;

  margin-bottom: 2.5rem;
}

@media screen and (min-width: 75em) {
  .flyer__text-wrapper {
    flex-basis: 35%;

    margin-bottom: 0;
  }
}

.flyer__title {
  font-size: 4.2rem;
}

.flyer__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.flyer__list-item {
  border-left: 0.3rem solid var(--color-dark-gray);
  padding-left: 1.5rem;

  opacity: 0.5;
  transition: opacity 0.3s ease-in-out 0s, border-left 0.3s ease-in-out 0s;
}

.flyer__list-item:hover {
  /* border-left: 0.3rem solid var(--color-goldenrod); */
  border-left: 0.3rem solid var(--color-secondary-light-green);
}

.flyer__list-item.active {
  /* border-left: 0.3rem solid var(--color-goldenrod); */
  border-left: 0.3rem solid var(--color-primary);
  opacity: 1;
}

.flyer__project-link {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.flyer__project-type {
  font-size: 1.8rem;
  font-weight: 400;
}

.flyer__project-info {
  font-size: 1.4rem;

  color: var(--color-semi-dark-gray);
}

.flyers-wrapper {
  position: relative;

  min-height: 100vw;
  flex-grow: 1;

  margin-top: auto;
}

@media screen and (min-width: 75em) {
  .flyers-wrapper {
    flex-grow: 1;
    height: 100%;
    min-height: 0;
  }
}

.flyers-wrapper__flyer {
  position: absolute;

  width: 70%;

  opacity: 0;
  transform: translateY(-50vh);
  transition: opacity 0.25s ease-in-out 0s, transform 1s ease-out 0s;
}

@media screen and (min-width: 75em) {
  .flyers-wrapper__flyer {
    width: 65%;
  }
}

.flyers-wrapper__flyer.is-revealed {
  opacity: 1;
  transform: translateY(0);
}

.top-flyer {
  z-index: 5;
  top: 0;
  left: 0;
  transition-delay: 0.4s;
}

@media screen and (min-width: 75em) {
  .top-flyer {
    top: 1rem;
  }
}

.mid-flyer {
  z-index: 4;
  top: 30%;
  right: 0;

  transition-delay: 0.25s;
}

@media screen and (min-width: 75em) {
  .mid-flyer {
    top: 25%;
  }
}

.bottom-flyer {
  z-index: 3;
  left: 0;
  bottom: 0;
}

.flyers-wrapper__flyer-img {
  filter: brightness(0.5) grayscale(0.5);
  transition: filter 0.5s ease-in-out 0s;
}

.flyers-wrapper__flyer-img.selected {
  filter: brightness(1) grayscale(0);
}

/* ========= work-experience 工作經歷 樣式設定 ========= */

.work-experience {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  min-height: calc(100vh - 6rem);
  padding-inline: clamp(2rem, 4vw, 8rem);
  padding-block: clamp(2rem, 6vh, 8rem);

  /* background-color: var(--color-light-gray); */
  background-color: var(--color-secondary-light-gray);
}

.work-experience__title {
  margin-bottom: clamp(2rem, 4vh, 5rem);

  font-size: 5rem;
  text-align: center;
}

.work-experience__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;

  width: 80%;

  margin: auto;
}

.work-experience__list-item {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;

  padding: 1.5rem;

  border-radius: 0 0 1rem 0;
  /* border-left: 0.3rem solid var(--color-goldenrod); */
  border-left: 0.3rem solid var(--color-secondary-light-green);
  background-color: var(--color-white);
  box-shadow: none;
  transition: box-shadow 0.3s ease-in-out 0s, border-left 0.3s ease-in-out 0s;
}

@media screen and (min-width: 75em) {
  .work-experience__list-item {
    flex-direction: row;
    row-gap: 0;
    column-gap: 2.5rem;
  }
}

.work-experience__list-item:hover {
  /* border-left: 0.3rem solid var(--color-amber); */
  border-left: 0.3rem solid var(--color-primary);
  box-shadow: 1px 2px 8px 0px var(--color-medium-gray);
}

.work-experience__job-info {
  flex-basis: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 0.5rem;

  padding-bottom: 1.5rem;
  border-bottom: 1px dotted var(--color-medium-gray);
}

@media screen and (min-width: 75em) {
  .work-experience__job-info {
    flex-basis: 30%;

    padding-bottom: 0;
    border-bottom: 0;
    border-right: 2px dotted var(--color-medium-gray);
  }
}

.work-experience__position {
  font-size: 1.8rem;
  font-weight: 500;
}

.work-experience__company {
  font-size: 1.4rem;
  font-weight: 400;
}

.work-experience__duration {
  font-size: 1.2rem;
  font-weight: 300;
}

.work-experience__job-description {
  flex-grow: 1;
  color: var(--color-semi-dark-gray);
}

.work-experience__content-list {
  display: grid;
  grid-auto-rows: 1fr;
  gap: 1rem;

  height: 100%;
  padding: 0 1.5rem;

  list-style-type: square;
}

@media screen and (min-width: 75em) {
  .work-experience__content-list {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    padding: 0 1rem;
  }
}

.work-experience__content {
  font-size: 1.4rem;
}

/* ========= about-me 關於我 樣式設定 ========= */

.about-me {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;

  width: 100%;
  min-height: calc(100vh - 6rem);
  padding-inline: clamp(2rem, 4vw, 8rem);
  padding-block: clamp(2rem, 6vh, 8rem);

  color: var(--color-semi-dark-gray);
}

@media screen and (min-width: 75em) {
  .about-me {
    flex-direction: row;
    justify-content: space-between;
    row-gap: 0;
    column-gap: 2.5rem;
  }
}

.about-me__text-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

@media screen and (min-width: 75em) {
  .about-me__text-wrapper {
    flex-basis: 60%;
    flex-shrink: 0;
  }
}

.about-me__name {
  font-size: 5rem;

  color: var(--color-dark-gray);
}

.about-me__eng-name {
  font-size: 2.4rem;
  font-weight: 300;

  color: var(--color-dark-gray);
}

.about-me__divider {
  border-bottom: 1px dotted var(--color-medium-gray);
}

.about-me__intro-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.about-me__intro-title {
  font-size: 1.8rem;
  font-weight: 600;

  /* color: var(--color-dark-gold); */
  color: var(--color-secondary-dark-green);
}

.about-me__intro-text {
  font-size: 1.4rem;
  font-weight: 400;
}

.about-me__skills-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.about-me__skill-title {
  font-size: 1.8rem;
  font-weight: 600;

  /* color: var(--color-dark-gold); */
  color: var(--color-secondary-dark-green);
}

.about-me__category-wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4rem;
  row-gap: 4rem;
}

@media screen and (min-width: 75em) {
  .about-me__category-wrapper {
    flex-direction: row;
    column-gap: 4rem;
    row-gap: 0;
  }
}

.about-me__skill-category {
  font-size: 1.6rem;
  font-weight: 600;

  margin-bottom: 1rem;
}

.about-me__tools-wrapper {
  display: flex;
  column-gap: 2.5rem;
}

.about-me__type {
  font-size: 1.4rem;
  font-weight: 400;
}

.about-me__list {
  list-style-type: square;
  padding-left: 1.5rem;
}

.about-me__list-item {
  font-size: 1.4rem;
  font-weight: 300;

  line-height: 2.1rem;
  white-space: nowrap;
}

.about-me__other-wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4rem;
  row-gap: 2.5rem;
}

.about-me__education-wrapper,
.about-me__contact-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.about-me__other-title {
  font-size: 1.8rem;
  font-weight: 600;

  /* color: var(--color-dark-gold); */
  color: var(--color-secondary-dark-green);
}

.about-me__other-text {
  font-size: 1.4rem;
  font-weight: 400;
}

.about-me__contact-wrapper .about-me__list-item {
  font-weight: 400;
}

.about-me__img-wrapper {
  flex-grow: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me__img-wrapper > img {
  width: 100%;
  max-height: 70vh;
  object-fit: cover;

  border-radius: 2rem;
}

/* ========= footer 頁尾 樣式設定 ========= */
footer {
  width: 100%;
  height: 10vh;
  padding-inline: clamp(2rem, 4vw, 8rem);

  /* color: var(--color-medium-gray); */
  /* background-color: var(--color-dark-gray); */
  color: var(--color-white);
  background-color: var(--color-primary);
}

.footer__content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3rem;

  width: 100%;
  height: 100%;

  font-size: 1.4rem;
}

.footer__content-wrapper a {
  /* color: var(--color-medium-gray); */
  color: var(--color-white);
}
